@keyframes anim {
  from {
    background-color: red;
  }
  to {
    background-color: yellow;
  }
}

body {
  background-color: red;
  animation: anim 5s infinite alternate;
}

h1 {
  color: black;
  font-family: 'Comfortaa', sans-serif; 
  text-align: center;
  text-shadow: 5px 5px 5px darkred;
}
@import url(https://fonts.googleapis.com/css?family=Comfortaa:300,regular,500,600,700);
p {
  font-family: 'Comfortaa', sans-serif;
  font-weight: 500;
  font-size: 20px;
}

.button1 {
  background-color:transparent;
  color: black;
  border: 2px solid black;
  border-radius: 20%;
  margin: auto;
  display: block;
  font-family: 'Comfortaa', sans-serif;
  font-size: 20px;
  cursor: pointer;
}
